# .gitignore for Matlab projects

# Note that the various binary MEX file formats are NOT included in this .gitignore.
# That is because, unlike with most programming languages, the built binary MEX files
# should be checked into the source tree so your code can still run straight from the
# repo without a build step; they are not just distribution artifacts.

# Build dirs and artifacts
/build
/dist
/target
/*.mltbx
/coverage
M-doc/

# Editor and IDE droppings
.idea
~*
*.m~
/.factorypath
.classpath
/.ijwb/
# VS Code stuff
.project
.settings
.vscode

# Doc site server droppings
_site
.sass-cache
.jekyll-cache
Gemfile.lock
doc-src/site/
doc/site/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Runtime and debug droppings
matlab-crash-dump*
*.pyc
__pycache__
/venv/
*.log
.ipynb_checkpoints
hs_err_pid*
/test-output/
/test-results/
/coverage/
/coverage-results/

# Editor, OS, and file browser droppings
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
